<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span> Angular 1.5 Weather
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/">Home</a></li>
        <li><a ng-href="#" ui-sref="about">About</a></li>
        <li><a ng-href="#" ui-sref="weather">Weather</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right acme-navbar-text">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"><a ng-href="/">Home</a></span>
          <span class="icon-bar"><a ng-href="/about">About</a></span>
          <span class="icon-bar"><a ng-href="/weather">Weather</a></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </div>
</nav>
