<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div ng-controller="WeatherController as Wctrl">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 form-group">
        <div class="input-group">
          <form>
            <input class="form-control" type="search" ng-model="city" placeholder="insert city Name, eg: Seattle" />
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addWeather(city)">Add City</button>
            </span>
          </form>
        </div>
        <div class="switch">
          °F <input type="checkbox" ng-model="checked">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3 weathercard" ng-repeat="place in places">
          <div class="singleview weather-buffer">
            <a ui-sref="weatherDetail({ cityId : place.id })">
              <h1 class="city">{{ place.name }}, {{ place.sys.country }}</h1></a>
            <div class="weather-buffer">
              <span class="id-label">({{ place.id}})</span><br>
              <span class="subheader">current weather</span><br>
              <img src="assets//images/{{place.weather[0].icon}}.png" style="text-align:center;"><br>
              <h1 class="temp" ng-hide="checked">{{ place.main.temp| kelvinToCelsius | number:1 }}°C</h1>
              <h1 class="temp" ng-hide="!checked">{{ place.main.temp | kelvinToCelsius | toFarenheit | number:1 }}°F</h1>
              <span class="subheader">{{ place.weather[0].main }} </span><br>
              <span class="subheader">{{ place.weather[0].description }} </span><br>
            </div>
            <br>
            <a ng-click='removePlace($index)' class="button-remove">remove</a>
            <a ui-sref="weatherDetail({ cityId : place.id })">Detailed View</a><br>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
